<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" />
  <title>{{ title }}</title>
</head>
<body>

<div class="container min-h-screen bg-white">
{{ content | safe }}
</div>

</body>
</html>
