{% include "gh_issues_by_label.njk" %}

{% sql_telemetry "https://sql.telemetry.mozilla.org/api/queries/71077/results.json?api_key=5OppFMWPIhWeg9I4Upfn15H6gNTAJdJzgQFgl2fk", "fenix ui-test-x86 failure rate by month" %}
{% sql_telemetry "https://sql.telemetry.mozilla.org/api/queries/71075/results.json?api_key=PPEt4GwO8HsXjpy8NIII7adVTn9UY77JMfjjD4Uv", "fenix ui-test-x86 issues" %}
{% sql_telemetry "https://sql.telemetry.mozilla.org/api/queries/70708/results.json?api_key=Ke93nbtpeBM39aCFwv5nuXpswp2LVuKHUPXckuVz", "fenix issues" %}
